.header { background-color: #00205b;
    width: 100%;
    height: 12vh;color:white;
    padding-top:1% }
     .footer { background-color: #00205b;
    width: 100%;
    height: 12vh;
    margin-top:35% }
    .text_header{ float:Right;margin:2% 2% 0% 0%;
    decoration:none }
    .card{padding: 2rem 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(156,159,168,.3);
    background-color: #fff;
    cursor: pointer;
    width: 60%;
    height:30vh;
    margin: 5% 0% 0% 18%;
    overflow:hidden;
    display: flex;}

    .card:hover {
    box-shadow: 3px 3px 3px 3px rgb(64 65 70 / 62%)
    }
    .title{
        font-size: 24px;
    color: #323332;
    font-weight: 800;
    margin-bottom: 2%;
    }
    .left_block{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    width:50%;
    }
    .Right_block{
     width: 55%;
    border-left: 1px solid #00205b;
    padding: 2%;
    }
    .atribute{
        color: #737373!important
    }
    .activity{
        display:flex;
        margin-top:2%;
    }
    #realbox-input-wrapper {
    margin: 0 auto;
    max-width: 584px;
    position: relative;
    z-index: 0;
    
    }
    #realbox {
     box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    padding-inline-start: 151px;
    background-color: var(--search-box-bg, white);
    border: none;
    color: var(--search-box-text);
    display: block;
    outline: none;
    padding-inline-end: 40px;
    width: 100%;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 20px;
    opacity: 1;
    transition: none;
    height: 5vh;
    margin-top: 15%;
}
#realbox-input-wrapper :hover{
    box-shadow: 0 3px 9px 0 rgba(32, 33, 36, .28);
}
.search.icon {
    color: #00205b;
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
          
}

.search.icon:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 5px;
    height: 10px;
    width: 1px;
    background-color: currentColor;
}
.loup{
    margin-top:1%
}
.nadia{
    margin-top: 1%;
    position: absolute;
    font-size: 30px;
}
.a{
    text-decoration: none;
    color: white;
    cursor:pointer;
    transition: 0.3s ease;
    padding: 20px 0;
    margin: 0 20px;
}
.a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
