<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
  
    </head>
    
    <style>
    .body { background-color: #f2f4f5}
    </style>
     
    <body class="body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
