<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

		<title></title>

	</head>

	<style>
		.body {
			background: url('https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg') center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			font-family: 'Barlow', sans-serif;
			z-index: -9999;
		}
	</style>

	<body class="body"> {% block body %}{% endblock %}{% block javascripts %}{% endblock %}
		</body>
	</html>
